html, 
body {
    overflow-x: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #dad7c2;
    font-family: 'Open Sans', sans-serif;
}

.maincontainer {
    overflow-y: auto;
    width: 100%;
    background: #FCFBE6;
    border: .1px solid #dad7c2; /*color of columns separating line = body background color - to be visible only on small devices */
}

.jumbotron {
    background: url('coins.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    background-color: rgba( 255, 255, 255, .6);
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
}

.title {
    font-size: 1.5em;
    padding: 0 !important;
    height: 8em;
}
.description {
    font-size: 1em;
}

.description-span {
    color: #005A5B
}

md-content md-input-container {
    width: 100% !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
        -moz-appearance:textfield;
}
input {
    text-align: center;
    font-weight: bold;
}

#star {
    color: #005A5B;
}
.currency-area {
    background: #dad7c2;
    padding: 10px;
}

.footer .container>p>a:hover {
    color: #363;
    text-decoration: none;
}

