<!--converse.html-->
<md-content layout-padding >
	<div layout layout-sm="column" >
		<div class="maincontainer" ng-repeat='cur in main.currencies'>
            <md-input-container style="width:80%" flex ng-init='main.active = cur[0]; '>
                <label>{{cur.name}}</label>

                <!-- this should be shown when focused -->
                <input
                    type="number" min="0" 
                    ng-model="cur.value" 
                    ng-click='main.clear();'
                    ng-focus='main.active = cur; cur.active = true;'
                    ng-blur='cur.active = false'
                    ng-class="text-success small"
                />

            </md-input-container>

            <h4 class="text-center md-body-1 text-success text-bold" 
                ng-show="last.value>0 && last.value!=main.active.value">
                    {{last.value=main.active.value/main.active.rate*cur.rate | number:2 }}{{cur.symbol || ''}}
            </h4>

           <!--<p>{{cur.value/main.active.rate*cur.rate}}</p>-->
            <md-list-item>
                <h5 class="text-center md-body-1" 
                    ng-show="main.active.name && main.active.name != cur.name && main.active.name != ''"
                >
                    1 {{main.active.name}} = {{cur.rate/main.active.rate | number:4 }} {{cur.name}}
                </h5>
            </md-list-item>

		</div>
 	</div>
    <h6 class="text-muted">* since 1st January 2015 LTL is not used anymore</h6>
</md-content>